<!-- <section>
	<div class="container-fluid about"> -->
<!-- 		<h1 class="about-heading">About Me</h1> -->
<!-- 		<div class="row">
			<div class="col-xs-6" id="about-box">
				<h2 class="about-intro">About Me</h2>
				<p class="about-para">I am a web developer, so I know how to create your website to run across devices using the latest technologies available.</p>
			</div>
			<div class="col-xs-6">
				<div >
					<img class="picture" src="content/img/mypic.png">
				</div>
			</div>
		</div>
	</div>
</section> -->