<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Barcelona</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/barcelona/6.jpg" alt="image01" />
	            <div>Sagrada Familia, Barcelona</div>
	        </li>
	        <li><img src="content/img/barcelona/17.jpg" />
	            <div>Park Güell, Barcelona</div>
	        </li>
	        <li><img src="content/img/barcelona/14.jpg" alt="image03" />
	            <div>Casa Mila, Barcelona</div>
	        </li>
	        <li><img src="content/img/barcelona/22.jpg" />
	            <div>Streets of Barcelona</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/1.jpg">

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>It was an easy walk from hotel to the La Sagrada Familia, which at night looks like a haunted mansion.</p>

		            <p><a href="content/img/barcelona/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/2.jpg" >

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>This is the nativity facade (or the birth of Jesus pbuh).</p>

		            <p><a href="content/img/barcelona/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/3.jpg" >

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>Approaching La Sagrada Familia to go inside.</p>

		            <p><a href="content/img/barcelona/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/4.jpg" >

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>The passion facade.</p>

		            <p><a href="content/img/barcelona/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/5.jpg" >

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>The passion facade.</p>

		            <p><a href="content/img/barcelona/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/6.jpg" >

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>Voila! the inside. It's amazing. It is based off tall trees with canopy leaves at the top.</p>

		            <p><a href="content/img/barcelona/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/7.jpg">
       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>Us.</p>

		            <p><a href="content/img/barcelona/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/8.jpg">

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>View of the left windows..showing hell.</p>

		            <p><a href="content/img/barcelona/8.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/9.jpg">

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>The right side windows represent heaven.</p>

		            <p><a href="content/img/barcelona/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/10.jpg">

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>Ahhh...</p>

		            <p><a href="content/img/barcelona/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/11.jpg">

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>Miniature.</p>

		            <p><a href="content/img/barcelona/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/12.jpg"></a>

       			 <figcaption>
		            <h3>La Sagrada Familia</h3>

		            <p>Design plan of the church. Which will be the highest church in the world when completed.</p>

		            <p><a href="content/img/barcelona/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/13.jpg"></a>

       			 <figcaption>
		            <h3>Casa Mila</h3>

		            <p>Rooftop of Casa Mila. Those are chimneies and elevator doors. So nicely designed.</p>

		            <p><a href="content/img/barcelona/13.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/14.jpg"></a>

       			 <figcaption>
		            <h3>Casa Mila</h3>

		            <p>Inside of Casa Mila.</p>

		            <p><a href="content/img/barcelona/14.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/15.jpg"></a>

       			 <figcaption>
		            <h3>Park Güell</h3>

		            <p>This park was built as if it's one with nature.</p>

		            <p><a href="content/img/barcelona/15.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/16.jpg"></a>

       			 <figcaption>
		            <h3>Park Güell</h3>

		            <p>Walking inside the park...</p>

		            <p><a href="content/img/barcelona/16.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/17.jpg"></a>

       			 <figcaption>
		            <h3>Park Güell</h3>

		            <p>Amazing structures.</p>

		            <p><a href="content/img/barcelona/17.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/18.jpg"></a>

       			 <figcaption>
		            <h3>Park Güell</h3>

		            <p>All the colors of the park.</p>

		            <p><a href="content/img/barcelona/18.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/19.jpg"></a>

       			 <figcaption>
		            <h3>Park Güell</h3>

		            <p>The houses.</p>

		            <p><a href="content/img/barcelona/19.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/20.jpg"></a>

       			 <figcaption>
		            <h3>Park Güell</h3>

		            <p>Beautiful tiles.</p>

		            <p><a href="content/img/barcelona20.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/21.jpg"></a>

       			 <figcaption>
		            <h3>Park Güell</h3>

		            <p>At sunset...</p>

		            <p><a href="content/img/barcelona/21.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/barcelona/22.jpg"></a>

       			 <figcaption>
		            <h3>Streets of Barcelona</h3>

		            <p>Walking around.</p>

		            <p><a href="content/img/barcelona/22.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			

		</ul>
	</div> 
	</div>
</section>







