<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Bled</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/bled/2.jpg" alt="image01" />
	            <div>Downtown, Bled</div>
	        </li>
	        <li><img src="content/img/bled/2b.jpg" />
	            <div>Downtown, Bled</div>
	        </li>
	        <li><img src="content/img/bled/5.jpg" alt="image03" />
	            <div>Pletna boats, Bled</div>
	        </li>
	        <li><img src="content/img/bled/9.jpg" />
	            <div>The Bled Island, Bled</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/1.jpg">

       			 <figcaption>
		            <h3>Swiss Alps</h3>

		            <p>On our way to lake Bled, we can see the Swiss Alps (or should I say the Slovene Alps).</p>

		            <p><a href="content/img/bled/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/bled/2.jpg" >

       			 <figcaption>
		            <h3>Bled</h3>

		            <p>View of the city.</p>

		            <p><a href="content/img/bled/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>

		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/bled/2a.jpg" >

       			 <figcaption>
		            <h3>Downtown</h3>

		            <p>Yup, this is the castle. Very cute.</p>

		            <p><a href="content/img/bled/2a.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/bled/3.jpg" >

       			 <figcaption>
		            <h3>Downtown</h3>

		            <p>Holy Roman architercture (if there is such a thing).</p>

		            <p><a href="content/img/bled/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/bled/4.jpg" >

       			 <figcaption>
		            <h3>Downtown</h3>

		            <p>Finally reached the Castle towers.</p>

		            <p><a href="content/img/bled/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/bled/4a.jpg" >

       			 <figcaption>
		            <h3>Tito's House</h3>

		            <p style="font-size: 18px; line-height: 20px;">
This is Tito's house. Tito is the founder/forger of Yugoslav nation combining all the smaller countries. He was known to be the only true Yugoslavian leader as his family was a mix of all the countries. Now this place serves as a tourist hotel.</p>

		            <p><a href="content/img/bled/4a.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>

		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/5.jpg" >

       			 <figcaption>
		            <h3>Near the Lake</h3>

		            <p>These are special boats called the Pletna boats. </p>

		            <p><a href="content/img/bled/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/6.jpg">
       			 <figcaption>
		            <h3>Near the Lake</h3>

		            <p>Paddling them looks quite relaxing.</p>

		            <p><a href="content/img/bled/6.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>

			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/7.jpg">
       			 <figcaption>
		            <h3>Bled Island</h3>

		            <p>*mind is blown <br> Look at that island with a church on it!</p>

		            <p><a href="content/img/bled/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>

			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/8.jpg">

       			 <figcaption>
		            <h3>Bled Island</h3>

		            <p>We decided to drive down towards the church side of the island...</p>

		            <p><a href="content/img/bled/8.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/9.jpg">

       			 <figcaption>
		            <h3>Bled Island</h3>

		            <p>...and this is the view!</p>

		            <p><a href="content/img/bled/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/winner.jpg" >

       			 <figcaption>
		            <h3>Bled Island</h3>

		            <p>I took this picture and entered in our company photo contest...and won first prize in the category!</p>

		            <p><a href="content/img/bled/winner.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/bled/10.jpg">

       			 <figcaption>
		            <h3>Bled Island</h3>

		            <p>Closer...</p>

		            <p><a href="content/img/bled/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>

		</ul>
	</div> 
	</div>
</section>


