<!-- <div class="container-fluid contact">
	<div class="row">
		<div class="col-md-6">
			<div class="contact-box">
				<section class="info-box">
					<h3>Contact Me</h3>
				</section>
				<section class="info-box">
					<h2>I live in Santa Clara and work in the city center for Vdu - Web Agency.
If you are interested in working with me, you need information, you want a free quotation or have an idea for a project, do not hesitate to drop me a line!</h3>
				</section>
				<section class="info-box">
					<h2>Shamila Mosharraf</h2>
					<h2><span>Email: </span>shamila.m09@gmail.com</h3>
				</section>
			</div>
		</div>
		<div class="col-md-6">
			<section class="contact-box">
				<div> -->

<!--   Not in the page starts -->
<!-- 				  <form role="form" name="contactForm">
    <div class="form-group" ng-class="{error: contactForm.name.$invalid}">
    <label>Full Name</label>
    <input class="form-control" type="text" name="name" ng-model="user.name" required="required" placeholder="Your name">
      <span class="help-block" ng-show="contactForm.name.$error.required">Required</span>
    </div>
    <div class="form-group" ng-class="{error: contactForm.email.$invalid}">
      <label>Email</label>
      <input class="form-control" type="email" name="email" ng-model="user.email" required="required" placeholder="Your email address">
      <span class="help-block" ng-show="contactForm.email.$error.required">Required</span>
      <span class="help-block" ng-show="contactForm.email.$error.email">Invalid email address</span>
    </div>
    <div class="form-group" ng-class="{error: contactForm.message.$invalid}">
      <label>Message</label>
      <textarea class="form-control" rows="5" name="message" ng-model="user.body" required="required" placeholder="Your messsage"></textarea>
      <span class="help-inline" ng-show="contactForm.message.$error.required">Required</span>
    </div>
    <button class="btn btn-primary btn-lg btn-block" ng-click="send()" ng-disabled="contactForm.$invalid">Send</button>
  </form> -->

<!--   Not in the page ends -->

<!--   <div class="form-style-8"> -->
  <!-- <h2>Login to your account</h2> -->
<!--   <form action="mailto:sheetul19@gmail.com?subject=myform_submission" enctype="text/plain" onsubmit="location.href='thanks.html">
    <input type="text" name="field1" placeholder="Full Name" />
    <input type="email" name="field2" placeholder="Email" />
    <input type="url" name="field3" placeholder="Website" />
    <textarea placeholder="Message" onkeyup="adjust_textarea(this)"></textarea>
    <input type="button" value="Send Message" />
  </form>
</div>
  </div>

			</section>
		</div>
		
	</div>
</div> -->