<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Cordoba</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/cordoba/7.jpg" alt="image01" />
	            <div>Mosque of Córdoba, Córdoba</div>
	        </li>
	        <li><img src="content/img/cordoba/2.jpg" />
	            <div>Streets of Córdoba</div>
	        </li>
	        <li><img src="content/img/cordoba/11.jpg" alt="image03" />
	            <div>Statue of Averroes (Ibn Rushd), Córdoba</div>
	        </li>
	        <li><img src="content/img/cordoba/12.jpg" />
	            <div>River Guadalquivir, Córdoba</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/1.jpg">

       			 <figcaption>
		            <h3>Córdoba Downtown</h3>

		            <p>This is a statue of Ferdinand, the ruler 
		            of Aragorn leading the reconquista against the Andalusian Muslims.</p>

		            <p><a href="content/img/cordoba/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/2.jpg" >

       			 <figcaption>
		            <h3>Córdoba Downtown</h3>

		            <p>Córdoba has really nice flower patios.</p>

		            <p><a href="content/img/cordoba/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/3.jpg" >

       			 <figcaption>
		            <h3>Córdoba Downtown</h3>

		            <p>...lost in the narrow alleys of Córdoba...</p>

		            <p><a href="content/img/cordoba/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/4.jpg" >

       			 <figcaption>
		            <h3>Córdoba Mosque</h3>

		            <p>Beautiful arches of the Cordoba Mosque.</p>

		            <p><a href="content/img/cordoba/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/5.jpg" >

       			 <figcaption>
		            <h3>Córdoba Mosque</h3>

		            <p>The Mihrab. Just wow!</p>

		            <p><a href="content/img/cordoba/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/6.jpg" >

       			 <figcaption>
		            <h3>Córdoba Mosque</h3>

		            <p>Grand!</p>

		            <p><a href="content/img/cordoba/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/7.jpg">
       			 <figcaption>
		            <h3>Córdoba Mosque</h3>

		            <p style="font-size: 16px; line-height: 20px;">The famous columns of the Cordoba Mosque. 

The second set of arches were bulit to elevate the roof. Abder Raman (the Hawk)
 wanted the Mosque to be grand, to rival Damascus and Mecca at the time. These were the original part of the Mosque.</p>

		            <p><a href="content/img/cordoba/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/9.jpg">

       			 <figcaption>
		            <h3>Córdoba Mosque</h3>

		            <p>This piece of architectural masterpiece...represents the peak of Cordoban Rule under Abder Rahman the 3rd.</p>

		            <p><a href="content/img/cordoba/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/10.jpg">

       			 <figcaption>
		            <h3>Córdoba Mosque</h3>

		            <p>A massive gate from the outside. This gate is really exquisite in it's design. It also feels very authentic. Just nothing like it.</p>

		            <p><a href="content/img/cordoba/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/11.jpg">

       			 <figcaption>
		            <h3>Statue of Averroes (Ibn Rushd)</h3>

		            <p style="font-size: 20px; line-height: 20px;">One our way back we ran into the statue of Averroes (Ibn Rushd). He was a medieval Andalusian polymath who wrote on logic, Aristotelian and Islamic philosophy, theology, the Maliki school of Islamic jurisprudence, psychology, political and Andalusian classical music theory, geography, mathematics, and the mediæval sciences of medicine, astronomy, physics, and celestial mechanics.  </p>

		            <p><a href="content/img/cordoba/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/cordoba/12.jpg"></a>

       			 <figcaption>
		            <h3>River Guadalquivir</h3>

		            <p>Very relaxing...</p>

		            <p><a href="content/img/cordoba/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
		</ul>
	</div> 
	</div>
</section>


