<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Florence</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/florence/1.jpg" alt="image01" />
	            <div>Brunelleschi's Dome <br>Florence Cathedral, Piazza del Duomo, Florence</div>
	        </li>
	        <li><img src="content/img/florence/2.jpg" />
	            <div>Cattedrale di Santa Maria del Fiore <br>(Florence Cathedral) Piazza del Duomo, Florence</div>
	        </li>
	        <li><img src="content/img/florence/3.jpg" alt="image03" />
	            <div>Florence Cathedral, Piazza del Duomo, Florence</div>
	        </li>
	        <li><img src="content/img/florence/6.jpg" />
	            <div>Uffize Gallery, Florence</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/1.jpg">

       			 <figcaption>
		            <h3>Brunelleschi's Dome</h3>

		            <p>This place was quite nice.... picture does not do justice.</p>

		            <p><a href="content/img/florence/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/florence/2.jpg" >

       			 <figcaption>
		            <h3>Santa Maria del Fiore</h3>

		            <p>First stop, the Santa Maria del Fiore (Duomo). This place is enormous. Fisheye lens was must to fit it in one shot.</p>

		            <p><a href="content/img/florence/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/florence/3.jpg" >

       			 <figcaption>
		            <h3>Santa Maria del Fiore</h3>

		            <p>Us.</p>

		            <p><a href="content/img/florence/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/florence/4.jpg" >

       			 <figcaption>
		            <h3>Santa Maria del Fiore</h3>

		            <p>At the gate.</p>

		            <p><a href="content/img/florence/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/5.jpg" >

       			 <figcaption>
		            <h3>Santa Maria del Fiore</h3>

		            <p>The infamous dome of the Duomo was designed by Brunelesci. It kicked off the architectural renaissance. He made it without any support structure...very innovative at the time.</p>

		            <p><a href="content/img/florence/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/6.jpg" >

       			 <figcaption>
		            <h3>Uffize Gallery</h3>

		            <p>Uffize art gallery is one of the oldest in Europe. </p>

		            <p><a href="content/img/florence/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/7.jpg">
       			 <figcaption>
		            <h3>Uffize Gallery</h3>

		            <p>Madonna. Art of 1600s.</p>

		            <p><a href="content/img/florence/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/8.jpg">

       			 <figcaption>
		            <h3>Leonardo da Vinci Museum</h3>

		            <p>Leonardo Da Vinci himself.</p>

		            <p><a href="content/img/florence/8.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/9.jpg">

       			 <figcaption>
		            <h3>Leonardo da Vinci Museum</h3>

		            <p>One of his many inventions.</p>

		            <p><a href="content/img/florence/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/10.jpg">

       			 <figcaption>
		            <h3>Leonardo da Vinci Museum</h3>

		            <p>His masterpiece. The Last Supper.</p>

		            <p><a href="content/img/florence/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/11.jpg">

       			 <figcaption>
		            <h3>Galleria dell'Accademia</h3>

		            <p>We went to see Michalengelo's masterpiece, David (Dawud pbuh). I think his vision of the concept 'man is made as an image of God' was expressed quite intensly here, which I could not take and had a mental block.</p>

		            <p><a href="content/img/florence/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/florence/12.jpg"></a>

       			 <figcaption>
		            <h3>Gucci Museo</h3>

		            <p>Back by the Palazzo, we found the Gucci museum. </p>

		            <p><a href="content/img/florence/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
		</ul>
	</div> 
	</div>
</section>


