<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Granada</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/granada/2.jpg" alt="image01" />
	            <div>Streets of Granada</div>
	        </li>
	        <li><img src="content/img/granada/3.jpg" />
	            <div>Al Hambra, Granada</div>
	        </li>
	        <li><img src="content/img/granada/14.jpg" alt="image03" />
	            <div>Downtown Granada</div>
	        </li>
	        <li><img src="content/img/granada/5.jpg" />
	            <div>Al Hambra, Granada</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/1.jpg">

       			 <figcaption>
		            <h3>Granada</h3>

		            <p>View of the city of Granada (from the top of Al Hambra).</p>

		            <p><a href="content/img/granada/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/granada/2.jpg" >

       			 <figcaption>
		            <h3>Streets of Granada</h3>

		            <p>The light drizzle just stopped and the sun started to come out...</p>

		            <p><a href="content/img/granada/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/granada/3.jpg" >

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>Inside of the palace.</p>

		            <p><a href="content/img/granada/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/granada/4.jpg" >

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>Such a nice fountain...</p>

		            <p><a href="content/img/granada/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/5.jpg" >

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>Places in the palace.</p>

		            <p><a href="content/img/granada/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/6.jpg" >

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>Intricate artwork...ayah of Quran.</p>

		            <p><a href="content/img/granada/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/7.jpg">
       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>So fabulous! </p>

		            <p><a href="content/img/granada/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/9.jpg">

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>Peace...</p>

		            <p><a href="content/img/granada/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/10.jpg">

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>In the gardens of the palace.</p>

		            <p><a href="content/img/granada/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/11.jpg">

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>In one calm morning...</p>

		            <p><a href="content/img/granada/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/12.jpg"></a>

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>Now heading towards what looks like an out of place building known as the palace of Charles V of Spain. This is of Spanish Renaissance Architecture post Moorish rule </p>

		            <p><a href="content/img/granada/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/13.jpg">

       			 <figcaption>
		            <h3>Al Hambra</h3>

		            <p>Iron rings.</p>

		            <p><a href="content/img/granada/13.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/14.jpg">

       			 <figcaption>
		            <h3>Downtown</h3>

		            <p>Crossroad in the city at night.</p>

		            <p><a href="content/img/granada/14.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/15.jpg">

       			 <figcaption>
		            <h3>Grand Mosque of Granada</h3>

		            <p>The Grand mosque of Granada. What a pleasant surprise thanks to the wonderful couple from Utah.</p>

		            <p><a href="content/img/granada/15.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/16.jpg">

       			 <figcaption>
		            <h3>Grand Mosque of Granada</h3>

		            <p>A view of Al Hambra from the mosque's balcony.</p>

		            <p><a href="content/img/granada/16.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/17.jpg">

       			 <figcaption>
		            <h3>The Tea Shop</h3>

		            <p style="font-size: 14px; line-height: 18px;">Met this wonderful lady, Layla, her ancestry goes to medieval muslim Cordoba from her fathers side and Granada from her mother side. They were Christianized during the Spanish inquisition.

Her story starts when she started studying Herbal Medicine in her school and ran into arabic scripture dating back hundreds of years. She got them translated... and that eventually led her to embrace Islam again.</p>

		            <p><a href="content/img/granada/17.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/18.jpg">

       			 <figcaption>
		            <h3>Streets of Granada</h3>

		            <p>We ended up in a street called Beso (kiss).</p>

		            <p><a href="content/img/granada/18.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/18a.jpg">

       			 <figcaption>
		            <h3>The Kiss Lane</h3>

		            <p>The story goes that: Long ago, a daughter was a wealthy father was about to be married off. But her heart was stopped during the wedding day. Everyone thought she died. They were devasted. Her funeral was arranged and before heading off to the burial ceremony, the dad kissed her on the forhead on this street while she lay sensless....and suddenly she woke up!</p>

		            <p><a href="content/img/granada/18a.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/granada/19.jpg">

       			 <figcaption>
		            <h3>Casa Delarte Flamenco (Flamenco Studio)</h3>

		            <p>I started to realize so much Arabic language and cultural elements built into Flamenco.

It is also very emotionally charged. </p>

		            <p><a href="content/img/granada/19.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
		</ul>
	</div> 
	</div>
</section>


