<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Istanbul</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/istanbul/8.jpg" alt="image01" />
	            <div>Sultan Ahmed Mosque, Istanbul</div>
	        </li>
	        <li><img src="content/img/istanbul/6.jpg" />
	            <div>Sultan Ahmed Mosque, Istanbul</div>
	        </li>
	        <li><img src="content/img/istanbul/5.jpg" alt="image03" />
	            <div>Sultan Ahmed Mosque, Istanbul</div>
	        </li>
	        <li><img src="content/img/istanbul/19.jpg" />
	            <div>Streets of Istanbul</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/1.jpg">

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>The Blue Mosque at sunset.</p>

		            <p><a href="content/img/istanbul/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/2.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>Entering the Blue Mosque. Waiting to see what surpise awaits us...</p>

		            <p><a href="content/img/istanbul/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/3.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>The courtyard of the Blue Mosque. Coming here early made this place cool and serene...</p>

		            <p><a href="content/img/istanbul/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/4.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>The interior...</p>

		            <p><a href="content/img/istanbul/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/5.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>Breathtaking!</p>

		            <p><a href="content/img/istanbul/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/6.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>When entering a new Mosque, Muslims offer two strides of prayer, which is what I was doing. </p>

		            <p><a href="content/img/istanbul/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/7.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p >There is a funny story behind this photo... :)</p>

		            <p><a href="content/img/istanbul/7.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/8.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>We got out and relaxed a bit.</p>

		            <p><a href="content/img/istanbul/8.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/9.jpg" >

       			 <figcaption>
		            <h3>Sultan Ahmed Mosque</h3>

		            <p>Took some pictures.</p>

		            <p><a href="content/img/istanbul/9.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/10.jpg">

       			 <figcaption>
		            <h3>Hagia Sofia</h3>

		            <p >...as we waited for the Hagia Sophia to open up. </p>

		            <p><a href="content/img/istanbul/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/11.jpg">

       			 <figcaption>
		            <h3>Hagia Sofia</h3>

		            <p>Inside Hagia Sofia...</p>

		            <p><a href="content/img/istanbul/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/12.jpg"></a>

       			 <figcaption>
		            <h3>Hagia Sofia</h3>

		            <p>Us.</p>

		            <p><a href="content/img/istanbul/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/13.jpg"></a>

       			 <figcaption>
		            <h3>Hagia Sofia</h3>

		            <p>Hagia Sophia was turned into a mosque after the Ottoman takeover of Istanbul. They added the Calligraphy Art and a Mimbar for the Sermon service.</p>

		            <p><a href="content/img/istanbul/13.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/14.jpg"></a>

       			 <figcaption>
		            <h3>Hagia Sofia</h3>

		            <p>I was told that this is a famous piece of art. Made of gold tiles.</p>

		            <p><a href="content/img/istanbul/14.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/15.jpg"></a>

       			 <figcaption>
		            <h3>Bascilica Cistern</h3>

		            <p> A large water filteration system built by Constantine and Justinian and later used and maintained by the Ottomans.</p>

		            <p><a href="content/img/istanbul/15.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/16.jpg"></a>

       			 <figcaption>
		            <h3>Bascilica Cistern</h3>

		            <p>At the end of the Cistern, a pillar with a head of Medusa. It was apparently put to keep out bad souls. But nobody knows for sure. </p>

		            <p><a href="content/img/istanbul/16.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/17.jpg"></a>

       			 <figcaption>
		            <h3>Bascilica Cistern</h3>

		            <p> The feeling here is difficult to explain...</p>

		            <p><a href="content/img/istanbul/17.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/18.jpg"></a>

       			 <figcaption>
		            <h3>Bascilica Cistern</h3>

		            <p>...Literally long long ago...at the time of Sultans...with my Roxelana...</p>

		            <p><a href="content/img/istanbul/18.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/istanbul/19.jpg"></a>

       			 <figcaption>
		            <h3>Streets of Istanbul</h3>

		            <p>Saw these lanterns in the market place...</p>

		            <p><a href="content/img/istanbul/19.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>

		</ul>
	</div> 
	</div>
</section>




























