<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Paris</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/paris/7.jpg" alt="image01" />
	            <div>The Louvre, Paris</div>
	        </li>
	        <li><img src="content/img/paris/29.jpg" />
	            <div>Notre-Dame, Paris</div>
	        </li>
	        <li><img src="content/img/paris/22.jpg" alt="image03" />
	            <div>Palace of Versailles, Paris</div>
	        </li>
	        <li><img src="content/img/paris/5.jpg" />
	            <div>Eiffel Tower, Paris</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/1.jpg">

       			 <figcaption>
		            <h3>River Seine</h3>

		            <p>We took a cruise across the River Seine while watching the sun set. (Unintentionally perfect timing!)</p>

		            <p><a href="content/img/paris/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/paris/2.jpg" >

       			 <figcaption>
		            <h3>River Seine</h3>

		            <p> This is a view of Eiffel Tower from the river, after the sunset.</p>

		            <p><a href="content/img/paris/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>

			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/paris/4.jpg" >

       			 <figcaption>
		            <h3>Eiffel Tower</h3>

		            <p>People say Eiffel tower is an over rated hunk of metal. On the contrary, it is the most elegant work of metal art/architecture that I have ever come across!.</p>

		            <p><a href="content/img/paris/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/5.jpg" >

       			 <figcaption>
		            <h3>Eiffel Tower</h3>

		            <p>So high... </p>

		            <p><a href="content/img/paris/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/6.jpg" >

       			 <figcaption>
		            <h3>The Louvre</h3>

		            <p>Louvre at dusk.</p>

		            <p><a href="content/img/paris/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/7.jpg">
       			 <figcaption>
		            <h3>The Louvre</h3>

		            <p>Louvre at night.</p>

		            <p><a href="content/img/paris/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/8.jpg">

       			 <figcaption>
		            <h3>The Louvre</h3>

		            <p>Louvre in daytime! (with the chalice and the blade, as described in Da Vinci Code by Dan Brown) :) </p>

		            <p><a href="content/img/paris/8.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/9.jpg">

       			 <figcaption>
		            <h3>The Winged Victory</h3>

		            <p style="font-size: 18px; line-height: 20px;">The most beautiful sculpture in the museum! Our most favorite one.
A flowing energy was all around it! You can almost feel the spirit reaching high, taking yours with it!
(Never before I had any idea that a sculpture can be this powerful!)</p>

		            <p><a href="content/img/paris/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/10.jpg">

       			 <figcaption>
		            <h3>The Louvre</h3>

		            <p>The winged victory (also known as the Nike).</p>

		            <p><a href="content/img/paris/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/11.jpg">

       			 <figcaption>
		            <h3>The Louvre</h3>

		            <p>The ceiling! Marvelous, jaw-dropping art itself!</p>

		            <p><a href="content/img/paris/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/12.jpg"></a>

       			 <figcaption>
		            <h3>The Louvre</h3>

		            <p>Guess who!!! :D</p>

		            <p><a href="content/img/paris/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/13.jpg"></a>

       			 <figcaption>
		            <h3>The Monalisa</h3>

		            <p>Yup it's her!
But trust me she looks much better upfront. Kind of mesmerizing (this is coming from someone for whom it always takes a looong time to figure out why a particular art is famous :P ).
Camera doesn't do any justice.</p>

		            <p><a href="content/img/paris/13.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/14.jpg"></a>

       			 <figcaption>
		            <h3>Athena</h3>

		            <p>
Athena was the Greek virgin goddess of reason, intelligent activity, arts and literature. She was the daughter of Zeus; her birth is unique in that she did not have a mother. Instead, she sprang full grown and clad in armor from Zeus' forehead.She was fierce and brave in battle. </p>

		            <p><a href="content/img/paris/14.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/15.jpg"></a>

       			 <figcaption>
		            <h3>The Great Sphinx of Tanis</h3>

		            <p>From 2000 BC, almost 4000 years old, is considered to be one of the largest sphinxes outside of Egypt.</p>

		            <p><a href="content/img/paris/15.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/16.jpg"></a>

       			 <figcaption>
		            <h3>Hercules</h3>

		            <p>The story in stone.</p>

		            <p><a href="content/img/paris/16.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/17.jpg"></a>

       			 <figcaption>
		            <h3>Double bull-capital from the Apadana (audience chamber) of Great Persian king Darius' palace at Susa</h3>

		            <p>Being Taurus! :D </p>

		            <p><a href="content/img/paris/17.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/18.jpg"></a>

       			 <figcaption>
		            <h3>Drawing Room of the Napoleon III </h3>

		            <p>Apartments typifies the taste of the period for opulent interiors. The ceiling features Charles-Raphaël Maréchal’s painting of The Reuniting of the Louvre and the Tuileries by Napoleon III. The lavish stucco decorations are by Tranchant."</p>

		            <p><a href="content/img/paris/18.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/19.jpg"></a>

       			 <figcaption>
		            <h3>Apartment of the Napoleon III</h3>

		            <p>The paintings.</p>

		            <p><a href="content/img/paris/19.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/20.jpg"></a>

       			 <figcaption>
		            <h3>Apartment of the Napoleon III</h3>

		            <p>"The Napoleon III Apartments are an exceptional record of Second Empire decorative art. The state dining room features an imposing table and étagère sideboard in black-stained wood with gilt bronze decorations. The painted ceiling (a luminous sky traversed by exotic birds) is by Eugène Appert.”</p>

		            <p><a href="content/img/paris/20.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>

			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/21.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>Expanse of an empire...</p>

		            <p><a href="content/img/paris/21.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/22.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>Gardens and Park of the Château.</p>

		            <p><a href="content/img/paris/22.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/23.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>At the main gate.</p>

		            <p><a href="content/img/paris/23.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/24.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>The palace contained about 350 living units varying in size, from multi-room apartments to spaces about the size of an alcove... </p>

		            <p><a href="content/img/paris/24.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/24a.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p style="font-size: 18px; line-height: 18px;">...the size and location of the room a person got depended on their rank and standing with the king. While the crown prince (known as the dauphin) got a sprawling apartment on the ground floor, a servant may have nothing more than a space in an attic or a makeshift room behind a staircase.</p>

		            <p><a href="content/img/paris/24a.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/25.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>Inside the palace.</p>

		            <p><a href="content/img/paris/25.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/26.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>The Hall of Mirrors.</p>

		            <p><a href="content/img/paris/26.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/27.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>Overall, the palace was built to impress. “Versailles is a mirage, a sumptuous and theatrical entertainment. It is also a manifestation of glory and power imposed to a great extent by art, luxury, and magnificence,” writes Valérie Bajou, a modern-day curator at Versailles, in her book "Versailles" (Abrams, 2012). </p>

		            <p><a href="content/img/paris/27.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/28.jpg"></a>

       			 <figcaption>
		            <h3>Palace of Versailles</h3>

		            <p>Marbles and stones...</p>

		            <p><a href="content/img/paris/28.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/29.jpg"></a>

       			 <figcaption>
		            <h3>Notre-Dame de Paris</h3>

		            <p>Amazing at night.</p>

		            <p><a href="content/img/paris/29.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/30.jpg"></a>

       			 <figcaption>
		            <h3>Notre-Dame de Paris</h3>

		            <p>Notre Dame Cathedral was designed in the Gothic fashion.</p>

		            <p><a href="content/img/paris/30.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/30a.jpg"></a>

       			 <figcaption>
		            <h3>Notre-Dame de Paris</h3>

		            <p>The cathedral is roughly 128 metres (420 ft) in length, and 12 metres (39 ft) wide in the nave. Its cruciform plan, elevated nave, transept and tower were borrowed from 11th-century Romanesque architecture, but its pointed arches and rib vaulting were strictly Gothic. It was one of the first Gothic cathedrals to have arched exterior supports known as "flying buttresses".</p>

		            <p><a href="content/img/paris/30a.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/31.jpg"></a>

       			 <figcaption>
		            <h3>Disneyland</h3>

		            <p>The castle!!!</p>

		            <p><a href="content/img/paris/31.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/32.jpg"></a>

       			 <figcaption>
		            <h3>Disneyland</h3>

		            <p>Light shows at night!</p>

		            <p><a href="content/img/paris/32.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/33.jpg"></a>

       			 <figcaption>
		            <h3>Streets of Paris</h3>

		            <p>Walking down the road (beside Notre-Dame)...</p>

		            <p><a href="content/img/paris/33.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/paris/34.jpg"></a>

       			 <figcaption>
		            <h3>De Pompidou</h3>

		            <p>Bibliothèque Publique d’Information...The public library.</p>

		            <p><a href="content/img/paris/34.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
		</ul>
	</div> 
	</div>
</section>




























