<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Rome</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/rome/1.jpg" alt="image01" />
	            <div>The Colosseum (Flavian Amphitheatre)<br>Piazza del Colosseo, Rome</div>
	        </li>
	        <li><img src="content/img/rome/2.jpg" />
	            <div>The Colosseum (Flavian Amphitheatre)<br>Piazza del Colosseo, Rome</div>
	        </li>
	        <li><img src="content/img/rome/7.jpg" alt="image03" />
	            <div>Roman Forum (Ruins), Rome</div>
	        </li>
	        <li><img src="content/img/rome/15.jpg" />
	            <div>Vatican Museums, Vatican City</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/1.jpg">

       			 <figcaption>
		            <h3>The Colosseum (Flavian Amphitheatre)</h3>

		            <p>As an engineer, one cannot help but appreciate how well this was built 2000 years ago. </p>

		            <p><a href="content/img/rome/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/rome/2.jpg" >

       			 <figcaption>
		            <h3>The Colosseum (Flavian Amphitheatre)</h3>

		            <p>Us.</p>

		            <p><a href="content/img/rome/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/rome/3.jpg" >

       			 <figcaption>
		            <h3>The Colosseum (Flavian Amphitheatre)</h3>

		            <p>As it started to get dark, all the lights turned on and brought out a new side of the Colosseum.</p>

		            <p><a href="content/img/rome/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/rome/4.jpg" >

       			 <figcaption>
		            <h3>The Colosseum (Flavian Amphitheatre)</h3>

		            <p>The full moon came out of nowhere. It was lighting up the sky.</p>

		            <p><a href="content/img/rome/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/5.jpg" >

       			 <figcaption>
		            <h3>The Colosseum (Flavian Amphitheatre)</h3>

		            <p>This place can hold up to 80 000 people. Usual crowd was 65000. That's insane!</p>

		            <p><a href="content/img/rome/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/6.jpg" >

       			 <figcaption>
		            <h3>Pantheon</h3>

		            <p>This is the Pantheon, still fully functional today. It was made by Hadrian as a temple to all their gods. </p>

		            <p><a href="content/img/rome/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/6a.jpg" >

       			 <figcaption>
		            <h3>Pantheon</h3>

		            <p style="font-size: 16px; line-height: 20px;">The inside was quite amazing, you can fit an entire sphere inside, with the top having a gap for sunlight to come in. This gap is called the OCULUS. And yes, this inpsired the name of the recent FB recent acquisition of a startup that provides Virtual Reality experience.</p>

		            <p><a href="content/img/rome/6a.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/6b.jpg" >

       			 <figcaption>
		            <h3>Pantheon</h3>

		            <p>This is now converted to a Catholic church which also has burial of famous Catholic Saints, leaders, arttists, such as... </p>

		            <p><a href="content/img/rome/6b.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/6c.jpg" >

       			 <figcaption>
		            <h3>Pantheon</h3>

		            <p>Raphael, the renaissance artist. 

"Here lies that famous Raphael by whom Nature feared to be conquered while he lived, and when he was dying, feared herself to die."</p>

		            <p><a href="content/img/rome/6c.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/7.jpg">
       			 <figcaption>
		            <h3>Roman Forum (the ruins)</h3>

		            <p>Behold, the Glorious Ruins of Rome!</p>

		            <p><a href="content/img/rome/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/8.jpg">

       			 <figcaption>
		            <h3>Roman Forum (the ruins)</h3>

		            <p>The faded glory of Rome.</p>

		            <p><a href="content/img/rome/8.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/9.jpg">

       			 <figcaption>
		            <h3>Roman Forum (the ruins)</h3>

		            <p>Romans were the first ones to use arches and concrete which allowed them to build large buildings with empty interiors.</p>

		            <p><a href="content/img/rome/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/10.jpg">

       			 <figcaption>
		            <h3>Arch of Titus</h3>

		            <p style="font-size: 16px; line-height: 20px;">From functional arches, the Romans also made ceremonial arches. A concept which is copied all over the world (ie: Paris, NewYork, India).

This one here was built by Emperor Titus built in the first century AD.</p>

		            <p><a href="content/img/rome/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/11.jpg">

       			 <figcaption>
		            <h3>Roman Forum</h3>

		            <p>The Forum looks quite nice. Picture does not do justice here.</p>

		            <p><a href="content/img/rome/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/12.jpg"></a>

       			 <figcaption>
		            <h3>Streets of Rome</h3>

		            <p>Street art.</p>

		            <p><a href="content/img/rome/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/13.jpg"></a>

       			 <figcaption>
		            <h3>Vatican City</h3>

		            <p>The dome of the Basilica.</p>

		            <p><a href="content/img/rome/13.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/14.jpg"></a>

       			 <figcaption>
		            <h3>Vatican Museums</h3>

		            <p>Next we were entering the room of maps. which we thought would look like this book cover...</p>

		            <p><a href="content/img/rome/14.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/15.jpg"></a>

       			 <figcaption>
		            <h3>Vatican Museums</h3>

		            <p>Well, it was exactly like that...but with like a million people!</p>

		            <p><a href="content/img/rome/15.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/16.jpg"></a>

       			 <figcaption>
		            <h3>Vatican Museums</h3>

		            <p>Battle of Constantine...showing angels on his side.</p>

		            <p><a href="content/img/rome/16.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/17.jpg"></a>

       			 <figcaption>
		            <h3>Vatican Museums</h3>

		            <p>Raphael's most famous work: The School of Athens. Connecting the wisdom of the ancients to his true faith.</p>

		            <p><a href="content/img/rome/17.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/18.jpg"></a>

       			 <figcaption>
		            <h3>Sistine Chapel</h3>

		            <p>Michalengelo's masterpiece. <br> (Personally I think he takes 'man created as image of God' too far.)</p>

		            <p><a href="content/img/rome/18.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/18a.jpg"></a>

       			 <figcaption>
		            <h3>Sistine Chapel</h3>

		            <p>The Final Judgement by Michalengelo. </p>

		            <p><a href="content/img/rome/18a.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/21.jpg"></a>

       			 <figcaption>
		            <h3>Vatican Museums</h3>

		            <p>The exit staircase...</p>

		            <p><a href="content/img/rome/21.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/19.jpg"></a>

       			 <figcaption>
		            <h3>St. Peter's Bascilica</h3>

		            <p></p>

		            <p><a href="content/img/rome/19.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/20.jpg"></a>

       			 <figcaption>
		            <h3>St. Peter's Bascilica</h3>

		            <p>This place is HUGE. Biggest church in the world (this is the alter Where Peter is apparently buried). The pope was right behind it. We caught a video of him giving a speech. </p>

		            <p><a href="content/img/rome/20.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>

			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/22.jpg"></a>

       			 <figcaption>
		            <h3>The Spanish Steps</h3>

		            <p>Relaxing at The Spanish Steps...</p>

		            <p><a href="content/img/rome/22.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/rome/23.jpg"></a>

       			 <figcaption>
		            <h3>Trevi Fountain</h3>

		            <p>Just a great place to relax in the evening.</p>

		            <p><a href="content/img/rome/23.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			

		</ul>
	</div> 
	</div>
</section>




























