<!-- <div class="container-fluid skills">
	<div class="row"> 
		<div class="col-xs-12">
			<h1 class="skills-heading">My Skills in Technology</h1>
		</div>
	</div>
	<div class="row"> 

		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<i class="fa fa-html5 fa-5x tech-icon" aria-hidden="true" ng-click="vm.setRepo('html5')"></i>
				</section>
				<section class="language">
					<h1>HTML5</h1>
				</section>
				
			</div>			
		</div>

		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<i class="fa fa-css3 fa-5x tech-icon" aria-hidden="true" ng-click="vm.setRepo('css3')"></i>
				</section>
				<section class="language">
					<h1>CSS3</h1>
				</section>
			</div>
		</div>

		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/bootstrap.png">
				</section>
				<section class="language">
					<h1>Bootstrap</h1>
				</section>
			</div>

		</div>
		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/apache_server.png">
				</section>
				<section class="language">
					<h1>Apache</h1>
				</section>
				
			</div>
		</div>
	
	</div>


	<div class="row"> 
		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/js_icon.png">
				</section>
				<section class="language">
					<h1>JavaScript</h1>
				</section>
			</div>			
		</div>

		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/node_js.png">
				</section>
				<section class="language">
					<h1>NodeJS</h1>
				</section>
				
			</div>
		</div>

		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/anguico.png">
				</section>
				<section class="language">
					<h1>AngularJS</h1>
				</section>
				
		</div>

		</div>
		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/dbs_mongodb.png">
				</section>
				<section class="language">
					<h1>MongoDB</h1>
				</section>
				
			</div>
		</div>
	</div>

	<div class="row"> 
		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/phpicon.png">
				</section>
				<section class="language">
					<h1>PHP</h1>
				</section>
				
			</div>			
		</div>

		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/mysqlico.png">
				</section>
				<section class="language">
					<h1>MySQL</h1>
				</section>
				
			</div>
		</div>

		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/pythonico.png">
				</section>
				<section class="language">
					<h1>Python</h1>
				</section>
				
		</div>

		</div>
		<div class="col-md-3">
			<div class="skills-box">
				<section class="icon">
					<img src="content/img/jquery.png">
				</section>
				<section class="language">
					<h1>jQuery</h1>
				</section>
				
			</div>
		</div>
	</div>

</div> -->