<section>
<div class="container-fluid solitude">

	<div class="row">
		<h1><b>Solitude</b></h1>
		<p>
			Solitude without time and place

As I look over to my left, I see the clouds curl up to the hills by the ocean, removing all sense of space and time, as if we are in an unfamiliar alien planet.<br><br>

Just me, you and God Almighty… and a wink of one of God’s greatest creation, the sun, taking a wink behind the clouds. <br><br>

This scene cleanses you from within. The ..(incomplete)
		</p>
	</div>
	</div>

</section>