<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Vancouver</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/vancouver/1.jpg" alt="image01" />
	            <div>Downtown, Vancouver</div>
	        </li>
	        <li><img src="content/img/vancouver/5.jpg" />
	            <div>Lion's Gate Bridge, Vancouver</div>
	        </li>
	        <li><img src="content/img/vancouver/8.jpg" alt="image03" />
	            <div>Capilano Suspension Bridge Park, Vancouver</div>
	        </li>
	        <li><img src="content/img/vancouver/vc.jpg" />
	            <div>Whistler, British Columbia</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/1.jpg">

       			 <figcaption>
		            <h3>Downtown</h3>

		            <p>Downtown Vancouver where the 2010 Winter Olympic torch was lit.</p>

		            <p><a href="content/img/vancouver/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/1a.jpg">

       			 <figcaption>
		            <h3>Downtown</h3>

		            <p>The minute you step into Canada, the level of Islamophobia really drops. I hope America becomes as tolerant one day.</p>

		            <p><a href="content/img/vancouver/1a.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/2.jpg" >

       			 <figcaption>
		            <h3>Near the Lake</h3>

		            <p>The overcast took over...it was really nice to watch it happen.</p>

		            <p><a href="content/img/vancouver/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/3.jpg" >

       			 <figcaption>
		            <h3>Grouse Mountain</h3>

		            <p>Time to go up Grouse Mountain.</p>

		            <p><a href="content/img/vancouver/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/3a.jpg" >

       			 <figcaption>
		            <h3>Grouse Mountain</h3>

		            <p>View from the mountain top ovservatory. Catching sunset.</p>

		            <p><a href="content/img/vancouver/3a.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/4.jpg" >

       			 <figcaption>
		            <h3>Stanley Park</h3>

		            <p>Sunset over the BC mountains from Stanley Park is breathtaking! I am glad that the sunset lasts 2 hours in Northern cities.</p>

		            <p><a href="content/img/vancouver/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/5.jpg" >

       			 <figcaption>
		            <h3>Lion's Gate Bridge</h3>

		            <p>Night view.</p>

		            <p><a href="content/img/vancouver/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/6.jpg">
       			 <figcaption>
		            <h3>Capilano Suspension Bridge Park</h3>

		            <p>Time to cross the Capilano Suspension Bridge which is 270feet above the river.</p>

		            <p><a href="content/img/vancouver/6.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/6a.jpg" >

       			 <figcaption>
		            <h3>Capilano Suspension Bridge Park</h3>

		            <p>Inside the park.</p>

		            <p><a href="content/img/vancouver/6a.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>

			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/7.jpg">
       			 <figcaption>
		            <h3>Capilano Suspension Bridge Park</h3>

		            <p>Ripples...</p>

		            <p><a href="content/img/vancouver/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/8.jpg">

       			 <figcaption>
		            <h3>Capilano Suspension Bridge Park</h3>

		            <p>This place is really beautiful.</p>

		            <p><a href="content/img/vancouver/8.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/8a.jpg">

       			 <figcaption>
		            <h3>Capilano Suspension Bridge Park</h3>

		            <p>1300 year old tree...It was born in the year 1200s, when the world was witnessing the Crusades. </p>

		            <p><a href="content/img/vancouver/8a.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/9.jpg">

       			 <figcaption>
		            <h3>Whistler</h3>

		            <p>Amazing views...</p>

		            <p><a href="content/img/vancouver/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/10.jpg">

       			 <figcaption>
		            <h3>Downtown</h3>

		            <p>The serenity.</p>

		            <p><a href="content/img/vancouver/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/11.jpg">

       			 <figcaption>
		            <h3>The English Bay</h3>

		            <p>Near the English Bay at sunset. The structure is called an Inukshuk.</p>

		            <p><a href="content/img/vancouver/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/12.jpg"></a>

       			 <figcaption>
		            <h3>The English Bay</h3>

		            <p>What a perfect way to catch the sunset. So serene.</p>

		            <p><a href="content/img/vancouver/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/vancouver/13.jpg"></a>

       			 <figcaption>
		            <h3>The English Bay</h3>

		            <p>Whan an amazing trip!</p>

		            <p><a href="content/img/vancouver/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
		</ul>
	</div> 
	</div>
</section>


