<section id="album">
	<div class="container-fluid album" ng-controller="albumCtrl as vm">
	<div class="row">
		<div class="albums-heading">Venice</div>
	</div>	
	<div class="row">
	<div class="slides">
	    <ul> <!-- slides -->
	        <li><img src="content/img/venice/6.jpg" alt="image01" />
	            <div>Piazza San Marco, Venice</div>
	        </li>
	        <li><img src="content/img/venice/9.jpg" />
	            <div>Piazza San Marco, Venice</div>
	        </li>
	        <li><img src="content/img/venice/25.jpg" alt="image03" />
	            <div>Grand Canal, Venice</div>
	        </li>
	        <li><img src="content/img/venice/17.jpg" />
	            <div>The Canals, Venice</div>
	        </li>
	    </ul>
	</div>

	<div class="row">

		<ul class="photo-list">
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/1.jpg">

       			 <figcaption>
		            <h3>Venice</h3>

		            <p>After a long flight with barely any sleep, we finally arrived at the bridge that leads to Venice, the floating city.</p>

		            <p><a href="content/img/venice/1.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/venice/2.jpg" >

       			 <figcaption>
		            <h3>St. Mark's Bascilica</h3>

		            <p>We went straight to Piazza St. Marco (it was raining). St. Mark's bascilica looked like something out ot Disneyworld.</p>

		            <p><a href="content/img/venice/2.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/venice/3.jpg" >

       			 <figcaption>
		            <h3>Piazza San Marco</h3>

		            <p>The rain stopped, the music continued, old couples started to dance, so we wanted to capture this moment with a rose and tiramisu.</p>

		            <p><a href="content/img/venice/3.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
			<li>					
				<figure>
        			<img alt="nerd girl" src="content/img/venice/4.jpg" >

       			 <figcaption>
		            <h3>Piazza San Marco</h3>

		            <p>As we looked around the beautifully lit arches with lights bouncing off the fallen rain. As rain cleared the crowd...we found San Marco empty...</p>

		            <p><a href="content/img/venice/4.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    </li>
		    <li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/5.jpg" >

       			 <figcaption>
		            <h3>Realto Bridge</h3>

		            <p>We ran into the Realto Bridge on our way back to the hotel.</p>

		            <p><a href="content/img/venice/5.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/6.jpg" >

       			 <figcaption>
		            <h3>Piazza San Marco</h3>

		            <p>Piazza San Marco in daylight (the next morning).</p>

		            <p><a href="content/img/venice/6.jpg">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/7.jpg">
       			 <figcaption>
		            <h3>Piazza San Marco</h3>

		            <p>From the balcony you get an excellent view of the piazza.</p>

		            <p><a href="content/img/venice/7.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/8.jpg">

       			 <figcaption>
		            <h3>St. Mark's Basilica</h3>

		            <p>Inside St. Mark's Basilica.</p>

		            <p><a href="content/img/venice/8.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/9.jpg">

       			 <figcaption>
		            <h3>Piazza San Marco</h3>

		            <p>We walked over to the Doge's palace.</p>

		            <p><a href="content/img/venice/9.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/10.jpg">

       			 <figcaption>
		            <h3>Doge's Palace</h3>

		            <p>As we entered, we found this wonderful courtyard of the Doge's palace.</p>

		            <p><a href="content/img/venice/10.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/11.jpg">

       			 <figcaption>
		            <h3>Doge's Palace</h3>

		            <p>In the white courtyard.</p>

		            <p><a href="content/img/venice/11.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/12.jpg"></a>

       			 <figcaption>
		            <h3>Doge's Palace</h3>

		            <p>Inside the Doge's palace (not bad for a window view).</p>

		            <p><a href="content/img/venice/12.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/13.jpg"></a>

       			 <figcaption>
		            <h3>Doge's Palace</h3>

		            <p>Walking into the palace, we were awed by the intricate work done on the ceiling.</p>

		            <p><a href="content/img/venice/13.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/14.jpg"></a>

       			 <figcaption>
		            <h3>Doge's Palace</h3>

		            <p>From inside the palace, wonderful window view of the lagoon. </p>

		            <p><a href="content/img/venice/14.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>
		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/15.jpg"></a>

       			 <figcaption>
		            <h3>Doge's Palace</h3>

		            <p>More jaw-dropping ceilings...</p>

		            <p><a href="content/img/venice/15.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/16.jpg"></a>

       			 <figcaption>
		            <h3>Piazza San Marco</h3>

		            <p>Venice at sunset...</p>

		            <p><a href="content/img/venice/16.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/17.jpg"></a>

       			 <figcaption>
		            <h3>Streets of Venice</h3>

		            <p>And it's canals.</p>

		            <p><a href="content/img/venice/17.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/18.jpg"></a>

       			 <figcaption>
		            <h3>Streets of Venice</h3>

		            <p>A view from the alley...</p>

		            <p><a href="content/img/venice/18.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/19.jpg"></a>

       			 <figcaption>
		            <h3>Realto Bridge</h3>

		            <p>This is one of the four bridges spanning the Grand Canal. It is the oldest bridge across the canal.</p>

		            <p><a href="content/img/venice/19.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/20.jpg"></a>

       			 <figcaption>
		            <h3>Canals of Venice</h3>

		            <p>On a Gondola ride...</p>

		            <p><a href="content/img/venice/20.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/21.jpg"></a>

       			 <figcaption>
		            <h3>Antica Carbonera (Restaurant)</h3>

		            <p>Murano biscuit with fresh cream. It was complementary with the dinner and soo delicious!</p>

		            <p><a href="content/img/venice/21.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/22.jpg"></a>

       			 <figcaption>
		            <h3>Canals of Venice</h3>

		            <p>A ferry ride.</p>

		            <p><a href="content/img/venice/22.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>

			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/23.jpg"></a>

       			 <figcaption>
		            <h3>Murano Island</h3>

		            <p>Sculpture made of Murano glass...</p>

		            <p><a href="content/img/venice/23.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/24.jpg"></a>

       			 <figcaption>
		            <h3>Murano Island</h3>

		            <p>Making of the Murano glass.</p>

		            <p><a href="content/img/venice/24.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>
			<li>
				<figure>
        			<img alt="nerd girl" src="content/img/venice/25.jpg"></a>

       			 <figcaption>
		            <h3>Venice</h3>

		            <p>Venice...</p>

		            <p><a href="content/img/venice/25.jpg" target="_blank">Full View</a></p>
		        </figcaption>
		    	</figure>		    	
			</li>

		</ul>
	</div> 
	</div>
</section>







